<div>
  <div class="container mx-auto pt-2 sm:pt-3 md:pt-4">
    <div class="pl-3 pt-1 text-xl sm:text-3xl md:text-4xl rounded-xl text-center md:pb-6">
      <a class="uppercase font-mono text-violet-200 font-bold " href="#AboutMe" id="AboutMe">About me</a>
    </div>
    <!-- List about me -->
    <div class="text-cyan-200/80 py-6 text-lg px-32">
      <ul class="list-disc list-inside space-y-6 pl-5 text-justify">
        <li>Shahrad is an <span class="container bg-slate-700 rounded-xl hover:bg-purple-400/50">Undergraduate Machine Learning Researcher</span> at <a href="https://mila.quebec/en/"
          class=" underline container bg-slate-700 rounded-xl hover:bg-purple-400/50">Mila</a>
        currently doing research under the
        supervision of Dr. Reihaneh Rabbany on Temporal Graph Learning. This research is focused on enhancing
        the current baselines for evaluating the robustness of deep learning methods for link prediction task. He
        is
        also doing research on the distillation of LLMs with efficient architectures.</li>
        <li class="">Shahrad is a passionate and experienced <span
            class="container bg-slate-700 rounded-xl hover:bg-purple-400/50">software
            developer</span> with a strong
          background in <span class="container bg-slate-700 rounded-xl hover:bg-purple-400/50">Machine Learning &
            Infrastructure</span>.
          He has done internships &#64; the <a
            class=" underline container bg-slate-700 rounded-xl hover:bg-purple-400/50"
            href="https://ddmal.music.mcgill.ca">DDMAL</a> Music Tech Lab &#64; <a
            class="underline container bg-slate-700 rounded-xl hover:bg-purple-400/50"
            href="https://mcgill.ca">McGill University</a> as an <span
            class="container bg-slate-700 rounded-xl hover:bg-purple-400/50">Infrastructure
            Developer</span> and &#64; <a
            class="underline container bg-slate-700 rounded-xl hover:bg-purple-400/50"> Morgan Stanley </a> as a
          <span class="container bg-slate-700 rounded-xl hover:bg-purple-400/50">Full Stack Developer</span>. He is
          currently finishing his
          studies as an <span class="container bg-slate-700 rounded-xl hover:bg-purple-400/50">Honours
            Computer
            Science</span> student &#64; McGill University with a minor in <span
            class="container bg-slate-700 rounded-xl hover:bg-purple-400/50">Math</span>. His
          learning is mainly
          focused on <span class="container bg-slate-700 rounded-xl hover:bg-purple-400/50">AI and
            ML</span>.
          You can also find him socializing happily and grooving on the piano!
        </li>
        <li>
          Shahrad is looking for <span
            class="container bg-slate-700 rounded-xl hover:bg-purple-400/50">internship</span>
          opportunities for <span class="container bg-slate-700 rounded-xl hover:bg-purple-400/50">summer
            2024</span>. He
          is highly interested in
          doing <span class="container bg-slate-700 rounded-xl hover:bg-purple-400/50">Machine
            Learning development,
            Data Science, and Full-stack development as well as Research</span> on the mentioned
          areas.
          </li>
      </ul>
    </div>

  </div>

</div>
